
#estimateCreatorWrapper{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background: white;
    padding-top: 3%;
    text-align: center;
    color: #4c5461;
}

#estimateCreatorHeader{
    font-style: italic;
    margin-bottom: 50px;
}

@media (max-width: 600px){
    #estimateCreatorHeader{
        font-size: 18px;
        margin: 20px auto;
    }
}

#estimateFormLabel{
    padding-top: 20px;
    width: 80%;
    margin: auto;
    text-align: left;
}

#submitRow{
    background: #4c535f;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#submitEstimateButton{
    width: 100%;
    height: 80px;
    font-weight: bold;
    color: white;
    background: #4c535f;
    border: 0;
    font-size: 20px;
}

#submitEstimateButton:hover{
    background: #6d7686;
}

#submitRow:hover{
    background: #6d7686;
}

#description{
    margin: 0;
}