
#colorWrapper{
    text-align: center;
}

#colorPickerWrapper{
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

#colorCircle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto 5px;
    cursor: pointer;
}
