
#testimonialPageWrapper{
    max-width: 99vw;
}

#testimonialsHeader{
    margin-bottom: 8%;
    font-weight: 300;
    text-align: center;
    color: #757c83;
}

#testimonialCollection{
    margin-top:5.5%;
    margin-left: 5%;
    height: 90%;
}

#testimonialColumn{
    max-height: 100vh;
    overflow-y: auto;
    padding: 5%;
    background: #ccd3e1;
    border-radius: 10px;
}

#testimonialColumn > div > #testimonialItemWrapper {
    margin: 15px auto;
    padding-right: 11px;
}

#createPanel{
    min-height: 100%;
    margin-top:5%;
}

@media(max-width: '1224px'){
    
    #testimonialColumn{
        margin-left: 10px;
    }
}