#allTestimonialsWrapper{
    width: 90%;
}

#editableTestimonial{
    display: flex;
}

#editableTestimonial > .Checkbox{
    margin-top: 50px;
    margin-right: 30px;
}


#actionButtonsWrapper{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

#manageTestimonialsTitleRow{
    margin: 3% 2%;
    margin-bottom: 5%;
}

#editableTestimonial > #toggleWrap{
    padding-top: 5%;
}

#featureTestimonialWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15px;
}

#featureTestimonialButton{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
}

#featureTestimonialButton  > svg:not(:root).svg-inline--fa{
    color: white;
}

.featuredTestimonial{
    background: #83c64a;
}

.featuredTestimonial:hover{
    background: #83df4a;
}

.notFeaturedTestimonial{
    background: #ce3f3e;
}

.notFeaturedTestimonial:hover{
    background: #ef3f3e;
}

#featuredNumber{
    font-style: italic;
    color: #767c82;
}
